---
import * as fs from 'fs';

export function getStaticPaths() {
  const dictionary = fs.readFileSync('src/data/dictionary.json', 'utf-8');
  return JSON.parse(dictionary)
    .map((entry: any) => ({
      params: {
        term: entry.term.toLowerCase().replace('ç', 'ch').replace('ë', 'ee'),
      },
      props: entry,
    }))
    .filter((path: any) => path.params.term !== '');
}

const { term } = Astro.params;
const props: any = Astro.props;
---

<div>Good dog, {term}!</div>
<p>
  {props.term}
  {props.versions[0].attributes}<br />
  {props.versions[0].definitions}
</p>
