---
import SearchBar from '../components/searchbar/SearchBar.tsx';
import DynamicEntries from '../components/dynamicentries/DynamicEntries.tsx';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title=`Fjalor Shqip | fjalorshqip.com`>
  <div>
    <SearchBar client:load />
    <DynamicEntries client:only />
  </div>
</MainLayout>
