---
import DynamicEntries from '../components/dynamicentries/DynamicEntries';
import SearchBar from '../components/searchbar/SearchBar.tsx';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
  title="Fjalor Shqip | fjalorshqip.com"
  description="Fjalori i gjuhës shqipe"
>
  <div>
    <SearchBar client:load />
    <DynamicEntries client:only />
  </div>
</MainLayout>
