---
import SearchBar from '../components/SearchBar.tsx';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title=`Fjalor Shqip | fjalorshqip.com`>
  <div>
    <SearchBar client:load />
  </div>
</MainLayout>
