---
import FooterLinks from '../components/footerlinks/FooterLinks';
import '@fontsource-variable/eb-garamond';
---

<html lang="sq">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={Astro.props.description} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{Astro.props.title}</title>
  </head>
  <body>
    <a id="skip-nav" class="screenreader-text" href="#main-content">
      Skip Navigation or Skip to Content
    </a>
    <div class="container">
      <header>
        <div class="title"><a href="/">Fjalor Shqip</a></div>
      </header>
      <main id="main-content">
        <slot />
      </main>
      <footer>
        <div>
          <FooterLinks
            links={[
              {
                label: 'ballina',
                url: '/',
              },
              {
                label: 'rreth',
                url: '/rreth',
              },
              {
                label: 'kodi',
                url: 'https://github.com/shqip-dev/fjalorshqip.com',
                target: '_blank',
              },
              {
                label: 'platforma',
                url: 'https://pages.cloudflare.com/',
                target: '_blank',
              },
            ]}
          />
        </div>
        <div>
          &copy;{new Date().getFullYear()} fjalorshqip.com.
        </div>
      </footer>
    </div>
  </body>
</html>

<style lang="scss">
  :global(a) {
    color: #d53;
  }
  :global(body) {
    font-family: 'EB Garamond Variable', serif;
  }

  body {
    background-color: #f1efe7;
    color: #222;
  }

  body,
  header,
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container {
    width: 800px;
    margin-left: 5%;
    margin-right: 5%;
    @media all and (max-width: 820px) {
      width: 95%;
    }
  }
  header,
  footer {
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 5px;
  }
  header {
    .title {
      font-size: 2.4em;
      font-weight: 600;
      a,
      a:hover {
        text-decoration: none;
      }
    }
  }
  .screenreader-text {
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
    top: auto;

    &:focus {
      color: white;
      display: inline-block;
      height: auto;
      width: auto;
      position: static;
      margin: auto;
    }
  }
</style>
